
<div class="panel left">
  <h1>Whoots</h1>
    <% @posts.each do |post| %>
      <div class="whootWrapper">
        <a href="<%= user_path post.user %>">
        </a>
          @<%= post.user.username %>
          <span class="time"><%= time_ago_in_words(post.created_at) %></span>
          <p> <%= post.whoot %> </p>
          <p><%= link_to 'Show', post %></p>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
          <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
  <% end %>
</div>


<%= link_to 'New Post', new_post_path %>
