
<div class="row1">
  <div class=".col-md-6 .col-md-offset-3">
  <h1>Whoots</h1>
    <% @posts.each do |post| %>
      <div class="whootWrapper">
        <p> <%= post.whoot %> </p>
        <a href="<%= user_path post.user %>">
        </a>
          @<%= post.user.username %>
          <span class="time"><%= time_ago_in_words(post.created_at) %></span>
          <ul>
            <li><%= link_to 'Show', post %></li>
            <li><%= link_to 'Edit', edit_post_path(post) %></li>
            <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
      </div>
  <% end %>
  </div>
</div>


<%= link_to 'New Post', new_post_path %>
